.about-header {
  display: flex;
  flex-direction: column;
  text-align: end;
}
.about-title {
  font-size: 80px;
  margin: 0;
}
.about-subtitle {
  margin: 0;
}
.description {
  width: 70%;
}
.about-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
@media only screen and (max-width: 600px) {
  .about-title {
    font-size: 50px;
  }
  .about-subtitle {
    font-size: 20px;
  }
  .description {
    font-size: 15px;
  }
  .about-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }
}
