.logo {
  font-size: 30px;
  color: #3e6ed9;
  cursor: pointer;
  margin: 0;
  letter-spacing: 5px;
  font-family: "Montserrat", cursive;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navlinks {
  display: flex;
  justify-content: flex-end;
  gap: 70px;
}
.navbar_link {
  display: flex;
  gap: 1em;
  font-size: 18px;
  text-decoration: none;
  color: rgb(26, 26, 26);
  letter-spacing: 1px;
}
.navbar_link:hover {
  color: #5789eb;
  transition: 0.5s;
}
.navbar_link:not(hover) {
  transition: 0.5s;
}

@media only screen and (max-width: 600px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1px;
  }
  .navbar_link {
    font-size: 14px;
    margin: auto;
  }
}
